.container{
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.header{
    position: absolute;
    top:0;
    left: 0;
    border-bottom: 1px dotted #ccc;
    font-size: 50px;
    height: 1.5;
    line-height: 1.5;
    color: #578;
    font-weight: 300;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.main{
    position: relative;
    top: -150px;
}
.row>div{
    width: 149px;
    border-left: 1px solid #000;
    height: 149px;
    float: left;
    border-bottom: 1px solid #000;
    cursor: pointer;
}